<!DOCTYPE html>
<html lang="en">

<head>
    <title>content</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="contentstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>

<body>

    <div class="container">

        <!-- Left-aligned media object -->


        <div class="media">
            <a href="#" class="atc">
                <div class="media-left">
                    <i class='fas fa-user-circle' style='font-size:24px;'></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">陳冠妤-成大醫工</h4>
                    <h3 class="media-title">成大醫院發燒新聞</h3>
                    <i class='fas fa-heart' style='font-size:20px;color:pink'>&nbsp;17&nbsp;</i>
                    <i class='far fa-comment' style='font-size:20px'>&nbsp;3&nbsp;</i>
                    <i class='far fa-folder' style='font-size:20px'></i>

                </div>
            </a>
        </div>
        <hr>

        <div class="media">
            <a href="#" class="atc">
                <div class="media-left">
                    <i class='fas fa-user-circle' style='font-size:24px;'></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">陳冠妤-成大醫工</h4>
                    <h3 class="media-title">成大醫院發燒新聞</h3>
                    <i class='fas fa-heart' style='font-size:20px;color:pink'>&nbsp;17&nbsp;</i>
                    <i class='far fa-comment' style='font-size:20px'>&nbsp;3&nbsp;</i>
                    <i class='far fa-folder' style='font-size:20px'></i>
                </div>
            </a>
        </div>
        <hr>

        <div class="media">
            <a href="#" class="atc">
                <div class="media-left">
                    <i class='fas fa-user-circle' style='font-size:24px;'></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">陳冠妤-成大醫工</h4>
                    <h3 class="media-title">成大醫院發燒新聞</h3>
                    <i class='fas fa-heart' style='font-size:20px;color:pink'>&nbsp;17&nbsp;</i>
                    <i class='far fa-comment' style='font-size:20px'>&nbsp;3&nbsp;</i>
                    <i class='far fa-folder' style='font-size:20px'></i>
                </div>
            </a>
        </div>
        <hr>

        <div class="media">
            <a href="#" class="atc">
                <div class="media-left">
                    <i class='fas fa-user-circle' style='font-size:24px;'></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">陳冠妤-成大醫工</h4>
                    <h3 class="media-title">成大醫院發燒新聞</h3>
                    <i class='fas fa-heart' style='font-size:20px;color:pink'>&nbsp;17&nbsp;</i>
                    <i class='far fa-comment' style='font-size:20px'>&nbsp;3&nbsp;</i>
                    <i class='far fa-folder' style='font-size:20px'></i>
                </div>
            </a>
        </div>
        <hr>





</body>

</html>